<div id="<%= dom_id donation %>">
  <p>
    <strong>Name:</strong>
    <%= donation.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= donation.amount %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= donation.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= donation.description %>
  </p>

</div>
