<%= form_with(model: donation) do |form| %>
  <div class = "card col-md-6 mx-auto">
    <div class = "card-body">
      <% if donation.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

          <ul>
            <% donation.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, { class: "form-label"} %>
        <%= form.text_field :name, { class: "form-control", placeholder: "Enter your full name" } %>
      </div>

      <div class="mb-3">
        <%= form.label :amount, { class: "form-label"} %>
        <%= form.number_field :amount, { class: "form-control", placeholder: "Enter amount to donate, minimum is €25", min: 25 } %>
      </div>

      <div class="mb-3">
        <%= form.label :email, { class: "form-label"} %>
        <%= form.text_field :email, { class: "form-control", placeholder: "Enter your email address" } %>
      </div>

      <div class="mb-3">
        <%= form.label :description, { class: "form-label"} %>
        <%= form.text_area :description, { class: "form-control", placeholder: "Share with us any opinion or ideas about growing trees..." } %>
      </div>

      <div class="text-center d-grid gap-2 col-8 mx-auto">
        <%= form.submit "Gift a Tree", class: "btn btn-success fs-4" %>
      </div>
    </div>
  </div>
<% end %>
