<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Donations</h1>

  <div id="donations">
    <% @donations.each do |donation| %>
      <div class="card card-body col-md-3 mb-1">
        <div class="d-flex flex-row">
          <i class="material-icons md-48 md-light" style="color: orange">face</i>
        
        <div class="ms-2">
          <%= donation.name %><br />
          Donated <strong>$<%= donation.amount %></strong> | <small class="text-secondary"><%= time_ago_in_words(donation.created_at) %> ago</small>
        </div>
        </div>
      </div>
     
    <% end %>
  </div>



  <%= link_to "New donation", new_donation_path %>
</div>
